.popup-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.45);
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:3000;
}

.popup-box {
  background:white;
  padding:25px;
  border-radius:10px;
  width:320px;
  text-align:center;
}

.actions {
  display:flex;
  justify-content:space-between;
  margin-top:20px;
}

.yes-btn {
  background:#e53935;
  color:white;
  border:none;
  padding:8px 18px;
  border-radius:6px;
  cursor:pointer;
}

.no-btn {
  background: #9b9c9ded;
  color:white;
  border:none;
  padding:8px 18px;
  border-radius:6px;
  cursor:pointer;
}